<%- include("./partials/header") %>
<body style="background-image: url(images/bg.jpg)">
  <h1 class="align">successfully submitted</h1>
  <br />
  <h5 class="align">Click below to login in login page</h5>
  <br />
  <form class="col-3 align middle" action="/result" method="post">
    <button type="submit " class="btn btn button btn-light btn-sm">
      Log in page
    </button>
  </form>
</body>
